flows.json
[{"id":"7d83157f.a7718c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"632874f0.5136ac","type":"function","z":"7d83157f.a7718c","name":"Pre-prediction","func":"var ye=global.get('ye')\nvar token=msg.payload.access_token;\nvar instance_id=\"0ed7699c-df74-4b11-b5e5-57229554c6ea\";\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\nmsg.payload={\"input_data\": [{\"fields\": [\"YearsExperience\"], \"values\":[[ye]]}]};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["20bf9b0.1ecd466"]]},{"id":"caeb357e.e33f48","type":"function","z":"7d83157f.a7718c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["fbe89084.30d8c"]]},{"id":"731599b6.3a0448","type":"ui_form","z":"7d83157f.a7718c","name":"Form","label":"","group":"da231c97.e39d5","order":1,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":190,"y":440,"wires":[["487786c8.d59498"]]},{"id":"fbe89084.30d8c","type":"ui_text","z":"7d83157f.a7718c","group":"da231c97.e39d5","order":2,"width":0,"height":0,"name":"","label":"Salary","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":60,"wires":[]},{"id":"2e736f4d.edd1","type":"http request","z":"7d83157f.a7718c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":200,"wires":[["632874f0.5136ac"]]},{"id":"20bf9b0.1ecd466","type":"http request","z":"7d83157f.a7718c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/96ab6a30-4145-4a16-9421-417a173488c5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":180,"wires":[["39eb92e7.f5a5be","caeb357e.e33f48"]]},{"id":"487786c8.d59498","type":"function","z":"7d83157f.a7718c","name":"","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"qhDQNhK4xkiIL_hOpcK59BnulEx-3dA0AvZC3i1QTIbI\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["2e736f4d.edd1"]]},{"id":"39eb92e7.f5a5be","type":"debug","z":"7d83157f.a7718c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":420,"wires":[]},{"id":"da231c97.e39d5","type":"ui_group","z":"","name":"Salary","tab":"1fb93bce.460814","order":1,"disp":true,"width":"6","collapse":false},{"id":"1fb93bce.460814","type":"ui_tab","z":"","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]